@font-face {
    font-family: 'Montserrat';
    src: url('/assets/montserrat-bold.woff2') format('woff2'),
         url('/assets/montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('/assets/alegreyasc-regular.woff2') format('woff2'),
         url('/assets/alegreyasc-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
